.*
!/.gitignore
!/.project-metadata.yaml
chroma.log
chroma-data/*
# Ignore everything inside data but not the data folder itself
data/*
!data/.gitignore

# Ignore all files inside staged_files but not the folder itself

# Ignore all files inside staged_files_completed but not the folder itself

